<!doctype html>
<html lang="es">
  <head xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <!-- Basic -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="private, max-age=3600" />
    <meta name="robots" content="ALL">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- Site Metas -->
    <title>BESTEAM</title>
    <meta name="keywords" content="besteam, pachanga, futbol, amigos, partido, sorteo, equipos" />
    <meta name="description" content="Genera un partido entre amigos de manera aleatoria y balanceada." />
    <meta name="author" content="Manuel Lorente" />
    <!-- Site sharing-->
    <meta property="og:url"                content="https://besteam.dreamhosters.com/" />
    <meta property="og:title"              content="Besteam" />
    <meta property="og:description"        content="Genera un partido entre amigos de manera aleatoria y balanceada." />
    <meta property="og:image"              content="/static/img/logo.png" /> <!-- invalid, but expected -->
    <meta property="og:image:width"        content="1200"/>
    <meta property="og:image:height"       content="630"/>
    <link property="image" type="image/png" href="/static/img/logo.png" /> <!-- valid -->
    <!--Tab icon-->
    <link rel="icon" type="image/png" href="/static/img/logo.png" sizes="16x16">
    <link rel="apple-touch-icon" href="/static/img/logo.png" sizes="16x16" />
    <!-- icons library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/css/responsive.css" rel="stylesheet" />
  </head>
   <body>
    <!-- header section -->
    <script src="/static/js/header.js" type="text/javascript"></script>
    <!-- end header section -->
    
    <div class="access_section">
      <div class="row"> 
        <p><b>Bienvenido a {{TEAM_NAME}}</b></p>
      </div>
      <div class="row">  
        <label for="user">¿Quién eres? </label>
      </div>
      <div class="row">
        <form method="POST">
          <select name="user" onchange='this.form.submit()' onfocus="this.selectedIndex = -1;">
            <option value="" selected>Añadir nuevo jugador</option>
              {%for player in TEAM %}
            <option value="{{player}}">{{player}}</option>
              {% endfor%}
          </select>
        </form>
      </div>    
    </div>

    <script src="/static/js/bootstrap.js"></script>
   </body>
</html>